# Dependencias
node_modules/

# Variables de entorno (NUNCA subir al repositorio)
.env

# Base de datos local
*.db
*.sqlite

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Screenshots temporales
temporary screenshots/

.vercel
